<div class="col-md-3">
  <a class="btn btn-primary btn-block margin-bottom" data-toggle="modal" data-target="#newMail">
    Escrever
  </a>
  <app-mail-compose></app-mail-compose>

  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Pastas</h3>

      <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a [routerLink]="['/mail']">
            <i class="fa fa-inbox"></i>
            Entrada
            <span class="label label-primary pull-right">12</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/mail-outbox']">
            <i class="fas fa-reply-all"></i>
            Enviados
          </a>
        </li>
      </ul>
    </div>
    <!-- /.box-body -->
  </div>
</div>
