<div class="panel">
    <div class="panel-header bg-default">
      Extrato
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th class="col-md-3 text-center">Qtd</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <td>Total contratado:</td>
          <td class="text-center">3000</td>
        </tr>
        <tr>
          <td>Apólices cadastradas:</td>
          <td class="text-center">{{ total }}</td>
        </tr>
        <tr>
          <td>Disponível:</td>
          <td class="text-center">
            <strong>2939</strong>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="panel">
    <div class="panel-header bg-default">
      <span class="glyphicon glyphicon-dashboard"></span>
      Resumo
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Apólices vigentes</th>
          <th class="col-md-3 text-center">Qtd.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Auto</td>
          <td class="text-center">{{ total_auto }}</td>
        </tr>
        <tr>
          <td>E&O</td>
          <td class="text-center">{{ total_eo }}</td>
        </tr>
        <tr>
          <td>Vida</td>
          <td class="text-center">{{ total_life }}</td>
        </tr>
        <tr>
          <td>Fiança</td>
          <td class="text-center">{{ total_lease }}</td>
        </tr>
        <tr>
          <td>Residencial</td>
          <td class="text-center">{{ total_residential }}</td>
        </tr>
        <tr>
          <td>Total:</td>
          <td class="text-center">
            <b>{{ total }}</b>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>Apólices ativas</th>
          <th class="col-md-3 text-center">Qtd.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Auto</td>
          <td class="text-center">52</td>
        </tr>
        <tr>
          <td>Residencial</td>
          <td class="text-center">4</td>
        </tr>
        <tr>
          <td>Total:</td>
          <td class="text-center">
            <b>56</b>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>Segurados</th>
          <th class="col-md-3 text-center">Qtd.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ativos (
            <a class="" href="/Corretor/Segurado">Visualizar</a>)</td>
          <td class="text-center">
            <b>54</b>
          </td>
        </tr>
        <tr>
          <td>Inativos</td>
          <td class="text-center">
            <b>5</b>
          </td>
        </tr>
        <tr>
          <td>Total:</td>
          <td class="text-center">
            <b>59</b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
