<br>
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">
      <button (click)="fetch()" class="btn btn-default btn-lrg ajax">
        <i class="fas fa-sync-alt"></i>
      </button>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6" *ngFor="let i of medias">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive" [src]="i?.media_url"
             alt="User profile picture">
        <p class="text-muted text-center">
          <span class="badge bg-green">{{ i?.status }}</span>
        </p>
        <div class="text-center">
          <a class="btn btn-social-icon btn-bitbucket" (click)="show(i?.id)" data-toggle="modal"
             data-target="#showMedia">
            <i class="fas fa-eye"></i>
          </a>
          <a class="btn btn-social-icon btn-dropbox" (click)="disable(i?.id)">
            <i class="fas fa-pencil"></i>
          </a>
          <a class="btn btn-social-icon btn-facebook">
            <i class="fas fa-thumbs-down"></i>
          </a>
          <a class="btn btn-social-icon btn-flickr" (click)="destroy(i?.id)">
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showMedia" tabindex="-1" role="dialog" aria-labelledby="uploadMediaDefault"
     aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="media?.media_url" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
