<section class="invoice">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        <a [routerLink]="['/eo']" class="btn btn-info">
          <i class="fas fa-arrow-left"></i>
        </a>
        <i class="fas fa-home"></i></i>{{ client.name }}
        <small class="pull-right"> {{ client.cpf }}</small>
      </h2>
    </div>
  </div>
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      <strong>Bem segurado</strong>
      <address>
        <b>Local de risco:</b> {{ lease.localeOfRisc }}<br/>
        <b>Administrador:</b> {{ lease.administrator }}<br>
        <b>Duração do contrato:</b> {{ lease.duartion }}<br>
      </address>
    </div>
    <div class="col-sm-4 invoice-col">
      <strong>Dados da apolice</strong>
      <address>
        <b>Apolice:</b> {{ lease.apoliceNumber }}<br>
        <b>Seguradora:</b> {{ lease.insurer }}<br>
        <b>Vencimento:</b> {{ lease.validity }}<br>

      </address>
    </div>
    <div class="col-sm-4 invoice-col"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Cobertura</th>
          <th>Franquia</th>
          <th>Valor</th>
          <th>Ações</th>
        </thead>

        <tbody>
        <tr *ngFor="let c of coverage">
          <td> {{ c.coverage }}</td>
          <td>{{ c.franchise }}</td>
          <td>{{ c.value }}</td>
          <td>
            <a class="btn btn-success">
              <i class="fas fa-plus"></i>
            </a>
            <a class="btn btn-danger" disabled>
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row no-print">
    <div class="col-xs-12">
      <a class="btn btn-warning pull-right" [routerLink]="['/lease-edit', lease.id]">
        <i class="fas fa-pencil-alt"></i>
        Editar
      </a>
      <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;" disabled>
        <i class="fas fa-trash-alt"></i>
        Excluir
      </button>
    </div>
  </div>
</section>
