<section class="invoice" *ngFor="let b of broker">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-globe"></i> {{ b.name }}
          <small class="pull-right"> {{ b.slogan }} </small>
        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        Contato
        <address>
          Telefone: ({{b.ddd}}) {{b.telephone}}<br/>
          Celular: ({{b.ddd}}) {{b.cellphone}}<br>
          Email: {{b.email}}
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <strong>Endereco</strong>
        <address>
          {{b.address}}<br>
          {{b.neighborhood}}<br>
          {{b.complement}}<br>
          {{b.city}} - {{b.uf}}<br>

        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col"></div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Departamento</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Whatsapp</th>
            <th>Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dp of b.departament">
            <td>{{dp.description}}</td>
            <td>{{dp.telephone}}</td>
            <td>{{dp.email}}</td>
            <td>{{dp.whatsapp}}</td>
            <td>
              <a class="btn btn-primary" [routerLink]="['/broker-edit', dp.id]">
                <i class="fas fa-plus"></i>
                Editar
              </a>
              <button class="btn btn-danger" (click)="removeDepartament(dp.id)">
                <i class="fas fa-trash-alt"></i>
                Excluir
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row no-print">
      <div class="col-xs-12">
        <a class="btn btn-success pull-right" [routerLink]="['/broker-main-edit', b.id]">
          <i class="fas fa-pencil-alt"></i>
          Editar
        </a>
        <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;" (click)="destroy(b.id)">
          <i class="fas fa-trash-alt"></i>
          Excluir
        </button>
      </div>
    </div>
  </section>
