<div class="login-box app-login" id="login">
  <div class="login-logo">
    <a href="http://www.brasal.com.br/seguradora"><b>Brasal</b> Seguradora</a>
    <!-- <img src="assets/img/logo/logo.png" alt=""> -->
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Faça login para acessar o sistema</p>

    <form [formGroup]="authForm" (ngSubmit)="signin()">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" name="email" formControlName="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="authForm.invalid">Entrar</button>
        </div>
      </div>
    </form>
    <a href="#">Esqueci minha senha</a><br>
  </div>
</div>

