<div class="modal fade" id="newMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Envio de email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
        Para personalizar a mensagem com o nome do destinatario, use #nome#
      </div>

      <form [formGroup]="newMail" (ngSubmit)="create()">
        <div class="modal-body">
          <div class="row form-group">

            <div class="col-md-12">
              <label for="to">Para</label>
              <ng-selectize
                [config]="config"
                [options]="clients"
                name="to"
                id="to"
                value=""
                placeholder="Destinatarios"
                formControlName="to"></ng-selectize>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="subject">Assunto</label>
                <input type="text" name="subject" id="subject" value="" placeholder="Assunto" class="form-control"
                       formControlName="subject">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="content">Mensagem</label>
                <p-editor formControlName="content" [style]="{'height':'320px'}"></p-editor>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="newMail.invalid">
              Enviar
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
